{#
 *  PyDMXControl: A Python 3 module to control DMX via Python. Featuring fixture profiles and working with uDMX.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2018 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
<!doctype html>
<html>
<head>
    <title>PyDMXControl Web Controller</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui"/>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            background: #222;
            color: #eee;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        body {
            padding: 2em;
        }

        table, form {
            margin: 1em 0;
            min-width: 300px;
            background: #34495E;
            border-radius: .4em;
            overflow: auto;
            max-width: 100%;
        }

        table th, form label {
            color: #dd5;
            font-weight: bold;
        }

        table tr {
            border-top: 1px solid #46637f;
            border-bottom: 1px solid #46637f;
        }

        table th, table td, form label, form input {
            text-align: left;
            padding: .5em 1em;
        }

        small {
            font-size: 50%;
        }

        section, form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        article {
            display: inline-block;
            padding: .5em 1em;
        }

        form input:not([type="submit"]) {
            flex-grow: 1;
        }

        form input[type=submit] {
            background: #dd5;
            border: 0 none;
            cursor: pointer;
        }

        a, a:visited {
            color: #57f;
        }

        a:hover, a:focus {
            color: #35d;
        }
    </style>
</head>
<body>
{% block body %}{% endblock %}
<h5>
    This DMX web controller is powered by <a href="https://github.com/MattIPv4/PyDMXControl/" target="_blank">
    PyDMXControl</a>, an open source Python DMX controller created by <a href="https://mattcowley.co.uk/"
                                                                         target="_blank">Matt Cowley.</a>
</h5>
<script>
    function get(url) {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                // TODO: show error/success message from json, update elements by ID
            }
        };
        http.open("GET", url);
        http.send();
    }

    (function () {
        var elms = document.querySelectorAll("a[data-no-reload]");
        elms.forEach(function (elm) {
            elm.addEventListener("click", function (e) {
                e.preventDefault();
                get(elm.getAttribute("href"));
            }, true);
        });
    })();
</script>
</body>
</html>