{#
 *  PyDMXControl: A Python 3 module to control DMX using uDMX.
 *                Featuring fixture profiles, built-in effects and a web control panel.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2018 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h2>{{ fixture.title }}</h2>
    <a href="{{ url_for('.fixture', fid=fixture.id) }}" class="button">&lt; Fixture</a>

    <section>

        <article>
            <h2>{{ channel[0] }}
                <small> - Channel Control</small>
            </h2>
            <table>
                <thead>
                <tr>
                    <th>Channel No.</th>
                    <th>Channel Name</th>
                    <th>Channel Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-th="Channel No.">
                        {{ (cid + fixture.start_channel if cid + 1 < fixture.next_channel else "-") }}</td>
                    <td data-th="Channel Name" id="channel-{{ cid }}-name">
                        {{ channel[0] }}</td>
                    <td data-th="Channel Value" id="channel-{{ cid }}-value">
                        {{ channel[1] }}</td>
                </tr>
                </tbody>
            </table>

            <form id="slider">
                <div class="button-group">
                    <a href="javascript:change_input(0, true)" class="button">0%</a>
                    <a href="javascript:change_input(128, true)" class="button">50%</a>
                    <a href="javascript:change_input(255, true)" class="button">100%</a>
                </div>
                <div class="slider">
                    <input title="Value" type="range" min="0" max="255" step="1" id="slider_value"/>
                </div>
                <label for="slider_value"></label>
            </form>

            <form id="channel">
                <label for="value">Manual Input</label>
                <input id="value" name="value" type="number" min="0" max="255" step="1" value="{{ channel[1] }}"
                       required/>
                <input type="submit" value="Update" id="submit" name="submit"/>
            </form>
        </article>

    </section>
{% endblock body %}

{% block script %}
    <script>
        function change_input(value, update) {
            document.getElementById("slider_value").value = value;
            input_change(update);
        }

        function input_change(update) {
            document.querySelector("label[for='slider_value']").innerText = "Current Value: " + String(document.getElementById("slider_value").value);
            if (update) get("{{ url_for('.channel_val', fid=fixture.id, cid=cid, val=0) }}" + encodeURIComponent(document.getElementById("slider_value").value));
        }

        change_input({{ channel[1] }}, false);
        document.getElementById("slider_value").addEventListener("input", function (e) {
            input_change(true);
        });

        document.getElementById("channel").addEventListener("submit", function (e) {
            e.preventDefault();
            change_input(document.getElementById("value").value, true)
        });
    </script>
{% endblock script %}