{#
 *  PyDMXControl: A Python 3 module to control DMX using uDMX.
 *                Featuring fixture profiles, built-in effects and a web control panel.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2018 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h2>{{ fixture.title }}</h2>
    <a href="{{ url_for('.home') }}" class="button">&lt; Home</a>

    <section>

        <article>
            <h2>Channels</h2>
            <table>
                <thead>
                <tr>
                    <th>Channel No.</th>
                    <th>Channel Name</th>
                    <th>Channel Value</th>
                    <th>Quick Control</th>
                    <th>Full Control</th>
                </tr>
                </thead>
                <tbody>
                {% for i, channel in enumerate(fixture_channels(fixture)) %}
                    <tr>
                        <td data-th="Channel No.">
                            {{ (i + fixture.start_channel if i + 1 < fixture.next_channel else "-") }}</td>
                        <td data-th="Channel Name" id="channel-{{ i }}-name">
                            {{ channel[0] }}</td>
                        <td data-th="Channel Value" id="channel-{{ i }}-value">
                            {{ channel[1] }}</td>
                        <td data-th="Quick Control">
                            <a href="{{ url_for('.channel_val', fid=fixture.id, cid=i, val=0) }}" data-no-reload
                               class="button">0%</a>
                            <a href="{{ url_for('.channel_val', fid=fixture.id, cid=i, val=128) }}" data-no-reload
                               class="button">50%</a>
                            <a href="{{ url_for('.channel_val', fid=fixture.id, cid=i, val=255) }}" data-no-reload
                               class="button">100%</a></td>
                        <td data-th="Full Control">
                            <a href="{{ url_for('.channel', fid=fixture.id, cid=i) }}" class="button">Control</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        {% if fixture.get_color() is not none %}
            <article>
                <h2>Colors</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Color Name</th>
                        <th>Color Value</th>
                        <th>Apply</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for color in colors %}
                        <tr>
                            <td data-th="Color Name">
                                {{ color.name }}</td>
                            <td data-th="Color Value">
                                {{ color.value }}</td>
                            <td data-th="Apply">
                                <a href="{{ url_for('.color', fid=fixture.id, val=colors.to_print(color.value, ',')) }}"
                                   data-no-reload class="button">Apply</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form id="color">
                    <label for="value">Custom Color</label>
                    <input id="value" name="value" type="color" value="{{ colors.to_hex(fixture.get_color()) }}"
                           required/>
                    <input type="submit" value="Update" id="submit" name="submit"/>
                </form>
            </article>
        {% endif %}

        <article>
            <h2>Helpers</h2>
            <table>
                <thead>
                <tr>
                    <th>Helper Name</th>
                    <th>Run</th>
                </tr>
                </thead>
                <tbody>
                {% for helper in helpers %}
                    <tr>
                        <td data-th="Helper Name">
                            {{ helper }}</td>
                        <td data-th="Run">
                            <a href="{{ url_for('.helper', fid=fixture.id, val=helper) }}" data-no-reload
                               class="button">Run</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h2>Intensity</h2>
            <form id="intensity">
                <div class="button-group">
                    <a href="javascript:change_input(0, true)" class="button">0%</a>
                    <a href="javascript:change_input(128, true)" class="button">50%</a>
                    <a href="javascript:change_input(255, true)" class="button">100%</a>
                </div>
                <div class="slider">
                    <input title="Intensity" type="range" min="0" max="255" step="1" id="intensity_value"/>
                </div>
                <label for="intensity_value"></label>
            </form>
        </article>

    </section>
{% endblock body %}

{% block script %}
    <script>
        function hexToRgb(hex) {
            // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
            var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
            hex = hex.replace(shorthandRegex, function (m, r, g, b) {
                return r + r + g + g + b + b;
            });

            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? [
                parseInt(result[1], 16),
                parseInt(result[2], 16),
                parseInt(result[3], 16)
            ] : null;
        }

        document.getElementById("color").addEventListener("submit", function (e) {
            e.preventDefault();
            var color = hexToRgb(document.getElementById("value").value);
            if (color) {
                get("{{ url_for('.color', fid=fixture.id, val='') }}" +
                    encodeURIComponent(color.join(',')));
            }
        });

        function change_input(value, update) {
            document.getElementById("intensity_value").value = value;
            input_change(update);
        }

        function input_change(update) {
            document.querySelector("label[for='intensity_value']").innerText = "Current Value: " + String(document.getElementById("intensity_value").value);
            if (update) get("{{ url_for('.intensity', fid=fixture.id, val=0) }}" + encodeURIComponent(document.getElementById("intensity_value").value));
        }

        change_input({{ fixture.get_channel_value(fixture.get_channel_id("dimmer"))[0] }}, false);
        document.getElementById("intensity_value").addEventListener("input", function (e) {
            input_change(true);
        });

        document.getElementById("intensity_value").addEventListener("change", function (e) {
            input_change(false);
        });
    </script>
{% endblock script %}