{#
 *  PyDMXControl: A Python 3 module to control DMX via Python. Featuring fixture profiles and working with uDMX.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2018 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h1>Home - PyDMXControl Web Controller</h1>

    <section>

        <article>
            <h2>Fixture List</h2>
            <table>
                <thead>
                <tr>
                    <th>Fixture ID</th>
                    <th>Fixture Name</th>
                    <th>Fixture Channels</th>
                    <th>Quick Control</th>
                    <th>Full Control</th>
                </tr>
                </thead>
                <tbody>
                {% for fixture in controller.get_all_fixtures() %}
                    <tr>
                        <td data-th="Fixture ID">
                            #{{ fixture.id }}</td>
                        <td data-th="Fixture Name">
                            {{ fixture.name }}</td>
                        <td data-th="Fixture Channels">
                            {{ fixture.channel_usage }}</td>
                        <td data-th="Quick Control">
                            {% for helper in helpers %}
                                <a href="{{ url_for('.helper', fid=fixture.id, val=helper) }}" data-no-reload>
                                    {{ helper }}</a>
                            {% endfor %}</td>
                        <td data-th="Full Control">
                            <a href="{{ url_for('.fixture', fid=fixture.id) }}">Control</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h2>Callback List</h2>
            <table>
                <thead>
                <tr>
                    <th>Callback Name</th>
                    <th>Run</th>
                </tr>
                </thead>
                <tbody>
                {% for name in callbacks.keys() %}
                    <tr>
                        <td data-th="Callback Name">
                            {{ name }}</td>
                        <td data-th="Run">
                            <a href="{{ url_for('.callback', cb=name) }}" data-no-reload>Run</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

    </section>
{% endblock body %}