{#
 *  PyDMXControl: A Python 3 module to control DMX using uDMX.
 *                Featuring fixture profiles, built-in effects and a web control panel.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2018 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h2>Timed Events: {{ te }}</h2>
    <a href="{{ url_for('.home') }}" class="button">&lt; Home</a>

    <section>

        <article>
            <h2>{{ te }}</h2>
            <div class="section">
                <p>Events Control</p>
                <div class="button-group">
                    <a href="{{ url_for('.run_timed_event', te=te) }}" data-no-reload class="button">Run</a>
                    <a href="{{ url_for('.stop_timed_event', te=te) }}" data-no-reload class="button">Stop</a>
                </div>
                <p>Progress</p>
                <div class="button-group">
                    <span id="progress" class="button"></span>
                </div>
            </div>
        </article>

        <article>
            <h2>Timed Events</h2>
            <table>
                <thead>
                <tr>
                    <th>Target Time</th>
                    <th>Name</th>
                    <th>Fired</th>
                    <th>Function</th>
                    <th>Arguments</th>
                </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>
        </article>

    </section>
{% endblock body %}

{% block script %}
    <script>
        function numberWithCommas(x) {
            x = parseFloat(x.toFixed(4));
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }

        function create_elms(data) {
            setTimeout(do_update, 100);
            if (!"data" in data) return;
            data = data["data"];
            document.getElementById("progress").innerText = data["progress"];
            document.getElementById("table").innerHTML = "";
            var lastFired = true;
            var previousTime = 0;
            for (var event in data["events"]) {
                if (!data["events"].hasOwnProperty(event)) {
                    continue;
                }
                var tr = document.createElement("tr");

                var time = document.createElement("td");
                time.setAttribute("data-th", "Target Time");
                time.innerText = data["events"][event]["time"];
                tr.appendChild(time);

                var name = document.createElement("td");
                name.setAttribute("data-th", "Name");
                name.innerText = data["events"][event]["name"];
                tr.appendChild(name);

                var fired = document.createElement("td");
                fired.setAttribute("data-th", "Fired");
                fired.innerText = data["events"][event]["fired"];
                if (data["events"][event]["fired"]) {
                    tr.classList.add("darker");
                    previousTime = data["events"][event]["time_raw"];
                } else if (lastFired) {
                    lastFired = false;
                    tr.classList.add("highlight");
                    if (data["events"][event]["time_raw"]) {
                        var time_until = data["events"][event]["time_raw"] - data["progress_raw"];
                        fired.innerText = "-" + numberWithCommas(time_until) + "ms";
                        fired.style.borderLeft = "2px solid #57f";
                        fired.style.borderRight = "2px solid #57f";
                        fired.style.backgroundPosition = "left center";
                        fired.style.backgroundSize = ((time_until / (data["events"][event]["time_raw"] - previousTime)) * 100).toString() + "% 100%";
                        fired.style.backgroundRepeat = "no-repeat";
                        // http://png-pixel.com/
                        fired.style.backgroundImage = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mMMLf//HwAFwALM9Fc/LgAAAABJRU5ErkJggg==)";
                    }
                }
                tr.appendChild(fired);

                var func = document.createElement("td");
                func.setAttribute("data-th", "Function");
                func.innerText = data["events"][event]["func"];
                tr.appendChild(func);

                var args = document.createElement("td");
                args.setAttribute("data-th", "Arguments");
                args.innerText = data["events"][event]["args"];
                tr.appendChild(args);

                document.getElementById("table").appendChild(tr);
            }
        }

        function do_update() {
            getRaw("{{ url_for('.timed_event_data', te=te) }}", create_elms);
        }

        do_update();
    </script>
{% endblock script %}