[Unit]
Description=PyDMXControl
After=syslog.target network.target

[Service]
User=pi
Group=pi

Restart=always
RestartSec=30

Type=idle
WorkingDirectory=/home/pi/PyDMXControl/tests
ExecStart=python3 launch.py home/home.py

[Install]
WantedBy=multi-user.target